<!DOCTYPE html>
<html lang="en">
<head>
  <title>CreditCard Prediction</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Projects Website</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
</head>

<body>
  <div class="scroll-up-btn">
    <i class="fas fa-angle-up"></i>
  </div>
  <nav class="navbar">
    <div class="max-width">
        <div class="logo"><a href="/">SE<span>M<sup>2</sup>.</span></a></div>
        <ul class="menu">
            <li><a href="/" class="menu-btn">Home</a></li>
            <li><a href="/#about" class="menu-btn">About</a></li>
            <li><a href="/#projects" class="menu-btn">Projects</a></li>
            <li><a href="/#skills" class="menu-btn">Skills</a></li>
            <li><a href="/#teams" class="menu-btn">Teams</a></li>
        </ul>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
  </nav>

  <section class="cal-des" id="cal-des">
    <div class="max-width">
        <h2 class="title">Calories Burnt Prediction Project</h2>
        <div class="cal-des-content">
            
            <div class="column right">
                
                <p>This is an Calories burned prediction project ,in this project we will build a machine learning system in python that can predict how much calories burned during exercise 
                  Work flow </p>
                <br>
                <p>CALORIES , EXCERCISE DATA ➡️DATA PREPROCESSING ➡️DATA ANALYSIS ➡️ TRAIN TEST SPLIT ➡️ DECISION TREE MODEL ➡️ EVALUATION</p>
            </div>
        </div>
    </div>
</section>

<section class="cal-datacleaning" id="cal-datacleaning-content">
    <div class="max-width">
        <h1 class="title"></h1>
        <div class="cal-datacleaning-content">
            <div class="column left">
                <img class="img" src="../static/images/cal_datacleaning_img.jpg" alt=""/>
            </div>
            <div class="column right">
                <p>We are having two type of  dataset one is calories and another one is exercise.
                  In which Calories dataset will have data's like Height ,weight ,heart rate , Duration ,body temperature where as Exercise dataset will have data's like  user id, calories And then we combining the two data frame and then we check missing values and get some  statistical detail about data and using the statistical analysis we will predict the how much calories burned</p>
                </div>
        </div>
    </div>
</section>

<section class="cal-eda" id="cal-eda-content">
    <div class="max-width">
        <h1 class="title"></h1>
        <div class="cal-eda-content">
            <div class="column left">
                <img class="img" src="../static/images/cal_eda_img.jpg" alt=""/>
            </div>
            <div class="column right">
                <p>In the EDA part i have used a heatmap for correlation. To find out which columns or correlated to each other.</p>
            </div>
        </div>
    </div>
</section>

<section class="cal-modelling" id="cal-modelling-content">
    <div class="max-width">
        <h1 class="title"></h1>
        <div class="cal-modelling-content">
            <div class="column left">
                <img class="img" src="../static/images/cal_modelling_img.jpg" alt=""/>
            </div>
            <div class="column right">
                <p>We had split the data into train and test. And then we created a two variables x(feature) and y (class). We already import the sklearn. Model for train-test-split library for splitting train and test the data. And we mentioned 4 variables x-train, x-test, y-train, y-test. 20 % of data used for test the data and remaining 80% of data used for train in randomly. And found size of for 4 variables.</p>
                <br>
                <p>We used decision tree  model. Generally decision tree models. And we already import sklearn library for decision tree.
                  <br>
                  We train a data with help of decision tree model, for train a data we need to mention the function ".fit" is used for fit the data into decision tree model.
                </p>
                <p> we need to find a performance for our model evaluation and model evaluation based on accuracy score.
                  <br>
                  we need to find accuracy score for train data and test data separately with the help of model.<pre></p>
            </div>
        </div>
    </div>
</section>

<section class="cal-con" id="cal-con">
    <div class="max-width">
        <h2 class="title"></h2>
        <div class="cal-con-content">
            
            <div class="column right">
                
              <p>In this project we created a machine learning system in python . That can predict how much calories burnt using decision tree model.</p>
              <br>
              <p>And then we split the train data and test data randomly and it provided the best accuracy score more than 90%.</p>
            </div>
            <a href="../static/project_file/calories-prediction.ipynb" download>Get code file here!</a>
        </div>
    </div>
</section>

  <section class="cal-inputs" id="cal-inputs">
    <div class="max-width">
      <h2 class="title">Calories Prediction</h2>
      <div class="cal-inputs-content">
        <h1>Calories Prediction</h1>
        <h5>Enter the Input to find a the Calories
        <br>
        <br>
        </h5>
        <form action='/predictcal' method="POST" class="input-form">
          <div class="row">
            <div class="input-field-1">
                <label for="first_name"><b>Gender 0-Male & 1-female</b></label>
                <br>
              <input placeholder="Gender" id="first_name" name="Gender" class="input-message" type="text" required="required">
            </div>
    
            <div class="input-field-1">
                <label for="first_name"><b>Age</b></label>
                <br>
              <input placeholder="Age" id="first_name" name="Age" class="input-message" type="text" required="required" >
            </div>
    
            <div class="input-field-1">
                <label for="first_name"><b>Height</b></label>
                <br>
              <input placeholder="Height" id="first_name" name="Height" class="input-message" type="text" required="required" >
            </div>
            <div class="input-field-1">
                <label for="first_name"><b>Weight</b></label>
                <br>
              <input placeholder="Weight" id="first_name" name="Weight" class="input-message" type="text" required="required" >
            </div>
            <div class="input-field-1">
                <label for="first_name"><b>Duration</b></label>
                <br>
              <input placeholder="Duration" id="first_name" name="Duration" class="input-message" type="text" required="required" >
            </div>
            <div class="input-field-1">
                <label for="first_name"><b>Heart_Rate</b></label>
                <br>
              <input placeholder="Heart_Rate" id="first_name" name="Heart_Rate" class="input-message" type="text" required="required" >
            </div>
            <div class="input-field-1">
                <label for="first_name"><b>Body_Temperature</b></label>
                <br>
              <input placeholder="Body_Temperature" id="first_name" name="Body_Temperature" class="input-message" type="text" required="required" >
            </div>
           
            
    
          </div>
          <div class="button">
              <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Predict Percentage
              </button>
            </div>
        </form>

      </div>
    </div>
  </section>
    <script src='../static/js/script.js'></script> 
  </body>
</html>